---

---
<!doctype html>
<html lang="en">
<head>

</head>

<body>
    <header class="page-header">
    </header>
    <main>
        {{ content | safe }}
    </main>
    
    <footer class="page-footer">
        <small>Copyright {{site.author}}</small>
    </footer>
</body>

</html>